/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 992px;

// Large desktops
$screen-xl-min: 1200px;

// Colors
$white: #F4F4F4;
$off-white: rgba(252,252,252,0.80);
$black: #161616;
$blank: rgba(0,0,0,0);
$chocolate: #8C480D;
$dark-cocolate: #261111;
$caramel: #BF6211;
$leather: #5E3008;
$navy: #161D32;
