/* =============
    Footer
============= */
footer {
    background-color: $dark-cocolate;
    padding: 16px 0;

    > div {
        align-items: center;
        display: flex;
        justify-content: flex-end;
        width: 100%;

        p {
            color: $white;
        }
    }
}
