/* =============
    Header
============= */
header {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .05), 0 1px 10px 0 rgba(0, 0, 0, .03), 0 4px 5px 0 rgba(0, 0, 0, .04);
    position: fixed;
    height: 64px;
    width: 100%;
    background-color: $white;
    // display: grid;
    // grid-template-columns: 16px auto 16px;
    // grid-template-areas: ". header .";
    padding: 8px 0;
    z-index: 1000;

    > div {
        grid-area: header;
        display: flex;
        justify-content: space-between;
        align-items: center;
        aside{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            svg{
                width: 8%;
                height: 8%;
                margin-right: 4px;
                @include md{
                    width: 6%;
                    height: 6%;
                    margin-right: 6px;
                }
            }
            p{
                color: $dark-cocolate;
                font-size: rem-calc(30);
                font-weight: 700;
            }
        }
        #burger-container {
            svg {
                height: 56px;
                // width: 48px;
                cursor: pointer;
            }
        }
    }
}
