/* =============
    Communication
============= */
#section-3 {
    padding: 32px 0;
    @include md {
        padding: 48px 0;
    }
    @include lg {
        padding: 104px 0 64px;
    }
    @include xl {
        padding:  64px 0;
    }

    > div {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-areas: "article" "img";
        @include md {
            grid-template-columns: 400px auto;
            grid-template-areas: "article img";
            position: relative;
        }
        @include lg {
            grid-template-columns: 600px auto;
        }

        article {
            grid-area: article;
            @include md {
                position: absolute;
                z-index: 100;
                top: 0;
                // left: 32px;
            }

            h3 {
                margin-bottom: 16px;
            }

            p:nth-child(2) {
                padding-bottom: 8px;
            }
        }

        aside {
            grid-area: img;
            margin-top: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            @include md {
                margin-top: 176px;
                // position: absolute;
                height: 304px;
                margin-left: -200px;
                z-index: 50;
            }

            figure {
                border-radius: 73% 27% 81% 19% / 69% 61% 39% 31%;
                background-image: url("../img/communication/manOnRockWall.jpg");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                width: 100%;
                height: 100vw;
                filter: grayscale(0.5);
                @include md {
                    height: 304px;
                    opacity: 0.25;
                    @include dark{
                        opacity: 0.5;

                    }

                }
            }
        }
    }
}
