/* =============
    Gear
============= */
#section-8 {
    padding: 32px 0;
    @include md {
        padding: 48px 0;
    }
    @include lg {
        padding: 64px 0;
    }

    > div {
        article {
            h3 {
                margin-bottom: 32px;
            }

            ul {
                display: grid;
                grid-template-columns: repeat(1,1fr);
                grid-template-areas: "atc" "shoes" "chalk" "harness" "grigri";
                // grid-template-rows: repeat(4,288px);
                grid-gap: 16px;
                @include md {
                    grid-template-columns: 40% auto;
                    grid-template-areas: "atc shoes" "atc chalk" "grigri chalk" "grigri harness" "grigri harness";
                }
                @include lg {
                    grid-template-columns: 30% 10% auto 30%;
                    grid-template-areas:
                    "atc . shoes shoes"
                    "atc chalk chalk ."
                    ". chalk chalk ."
                    "grigri grigri . harness"
                    "grigri grigri . harness";
                }

                li {
                    height: 100%;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    border-radius: 8px;
                    transition: 0.25s;
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                    background-color: $navy;

                    > div {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: relative;

                        img {
                            width: 50%;
                            height: 50%;
                            filter: grayscale(0.5);
                            opacity: 0.98;
                            pointer-events: none;
                        }

                        p {
                            color: $white;
                            font-weight: 700;
                            font-size: rem-calc(28);
                            line-height: rem-calc(28);
                            text-transform: uppercase;
                            text-align: center;
                            position: absolute;
                            height: 32px;
                            width: 400px;
                            top: 50%;
                            left: 50%;
                            margin-left: -200px;
                            margin-top: -16px;
                            opacity: 1;
                            @supports (mix-blend-mode: lighten) {
                                mix-blend-mode: lighten;
                            }
                            @include lg {
                                font-size: rem-calc(40);
                                line-height: rem-calc(40);
                            }
                        }
                    }
                }

                li:nth-child(1) {
                    grid-area: atc;
                    border-radius: 68% 32% 70% 30% / 73% 86% 14% 27%;

                    > div {
                        img {
                            @include md {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                }
            }

            li:nth-child(2) {
                grid-area: shoes;
                border-radius: 93% 7% 76% 24% / 69% 14% 86% 31%;

                > div {
                    img {
                        width: 75%;
                        height: 75%;
                        @include md{
                            width: 90%;
                            height: 90%;
                        }
                    }
                }
            }

            li:nth-child(3) {
                grid-area: chalk;
                border-radius: 41% 59% 76% 24% / 52% 14% 86% 48%;

                > div {
                    img {
                        width: 60%;
                        height: 60%;
                        @include md{
                            width: 80%;
                            height: 80%;
                        }
                        @include lg{
                            width: 100%;
                            height: 100%;
                        }

                    }
                }
            }

            li:nth-child(4) {
                grid-area: harness;
                border-radius: 40% 60% 83% 17% / 65% 68% 32% 35%;

                > div {
                    img {
                        width: 60%;
                        height: 60%;
                        @include lg{
                            width: 120%;
                            height: 120%;
                        }

                    }
                }
            }

            li:nth-child(5) {
                grid-area: grigri;
                border-radius: 68% 32% 65% 35% / 14% 17% 83% 86%;

                > div {
                    img {
                        width: 60%;
                        height: 60%;
                        @include md{
                            width: 90%;
                            height: 90%;
                        }
                    }
                }
            }
        }
    }
}
