/* =============
    Hero
============= */
#section-1 {
    background-image: url("../img/hero/hero.jpg");
    background-position: 35% top;
    background-repeat: no-repeat;
    background-size: auto 150%;
    height: 90vh;
    @include md {
        background-size: auto 150%;
    }
    @include lg {
        background-position: 60% top;
        background-size: cover;
        height: 100vh;
    }

    div {
        align-items: flex-end;
        display: flex;
        @include lg {
            display: grid;
            grid-template-areas: ". overcome .";
            grid-template-columns: auto 800px auto;
        }

        article {
            grid-area: overcome;
            margin-bottom: 80px;
            margin-left: 16px;
            @include md {
                margin-bottom: 160px;
            }
            @include lg {
                // margin: 0px 16px 488px 0px;
                margin-bottom: 304px;
                text-align: right;
            }

            h1 {
                color: $dark-cocolate;
            }
        }
    }
}
