/* =============
    Indoor
============= */
#section-4 {
    background-color: $navy;
    padding: 32px 0;
    @include md{
        padding: 0px;
        margin-bottom: 144px;

    }
    @include dark{
        background-color: $light-navy;

    }

    > div {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-areas: "article" "img";
        @include md{
            grid-template-columns: 400px auto;
            grid-template-areas: "article img";
            grid-gap: 8px;
        }
        @include lg{
            grid-template-columns: 40% auto;
            grid-gap: 16px;
        }

        article {
            grid-area: article;
            color: $white;
            @include md{
                padding: 48px 0px 280px;
            }
            h3 {
                margin-bottom: 16px;
            }

            p:nth-child(2) {
                padding-bottom: 8px;
            }
        }

        aside {
            grid-area: img;
            margin-top: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            figure {
                border-radius: 30% 70% 15% 85% / 77% 66% 34% 23%;
                background-image: url("../img/indoor/indoor.jpg");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                width: 100%;
                height: 100vw;
                filter: grayscale(1);
                @include md {
                    height: 600px;
                    position: absolute;
                    margin-top: 200px;
               }
            }
        }
    }
}
