/* =============
    Quote1
============= */
#section-6 {
    height: 50vh;
    @include md {
        height: 576px;
    }
    @include lg {
        height: 120vh;
    }

    aside {
        width: 100%;

        ul {
            position: relative;

            li {
                position: absolute;
                z-index: 0;

                img {
                    width: 96px;
                    z-index: 0;
                    @include md {
                        width: 224px;
                    }
                    @include lg {
                        width: 304px;
                    }
                }
            }

            li:nth-child(1) {
                left: -60px;
                top: 408px;
                z-index: 4;
                @include md {
                    left: -4vw;
                    top: 80px;
                }
                @include lg {
                    left: -12vw;
                    top: 240px;
                }
                @include xl {
                    left: 8vw;
                }

                img {
                    width: 240px;
                    @include md {
                        width: 464px;
                    }
                    @include lg {
                        width: 576px;
                    }
                }
            }

            li:nth-child(2) {
                right: 56vw;
                top: 368px;
                z-index: 3;
                @include md {
                    left: 8vw;
                    top: 688px;
                }
                @include lg {
                    left: 64vw;
                    top: 1248px;
                }
                @include xl {
                    top: 1336px;
                }
            }

            li:nth-child(3) {
                right: 2vw;
                top: 240px;
                z-index: 2;
                @include lg {
                    left: 40vw;
                    right: 0;
                    top: 424px;
                }
                @include xl {
                    left: 56vw;
                }

                img {
                    width: 240px;
                    @include md {
                        width: 528px;
                    }
                    @include lg {
                        width: 600px;
                    }
                }
            }

            li:nth-child(4) {
                display: none;
                z-index: 1;
                @include lg {
                    display: initial;
                    right: 64vw;
                    top: 504px;
                }
                @include lg {
                    top: 952px;
                }
                @include xl {
                    top: 840px;
                }

                img {
                    @include lg {
                        width: 648px;
                    }
                }
            }
        }
    }

    article {
        align-items: center;
        display: flex;
        display: grid;
        grid-template-areas: ". div .";
        grid-template-columns: auto 88% auto;
        height: 50vh;
        justify-content: center;
        position: absolute;
        width: 100%;
        z-index: 500;
        @include md {
            grid-template-columns: auto 64% auto;
            height: 576px;
        }
        @include lg {
            grid-template-columns: auto 50% auto;
            height: 120vh;
        }

        div {
            background-color: $off-white;
            border-radius: 8px;
            box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .01), 0 3px 12px 0 rgba(0, 0, 0, .01), 0 6px 7px 0 rgba(0, 0, 0, .01);
            grid-area: div;
            padding: 16px;
            @supports (backdrop-filter: blur(3px)) {
                backdrop-filter: blur(3px);
            }
            @include md {
                padding: 24px;
            }
            @include lg {
                border-radius: 32px;
                padding: 32px;
            }

            h2 {
                color: $dark-cocolate;
            }
        }
    }
}
