/* =============
    Quote1
============= */
#section-2 {
    height: 50vh;
    @include md {
        height: 576px;
    }
    @include lg {
        height: 120vh;
    }

    aside {
        width: 100%;

        ul {
            position: relative;

            li {
                position: absolute;
                z-index: 0;

                img {
                    width: 200px;
                    z-index: 0;
                    @include md {
                        width: 448px;
                    }
                    @include lg {
                        width: 400px;
                    }
                }
            }

            li:nth-child(1) {
                right: 16vw;
                top: 280px;
                z-index: 1;
                @include sm {
                    top: 304px;
                }
                @include md {
                    right: 2vw;
                    top: 400px;
                }
                @include lg {
                    top: 840px;
                }

                img {
                    @include lg {
                        width: 480px;
                    }
                    @include xl {
                        width: 576px;
                    }
                }
            }

            li:nth-child(2) {
                left: -56px;
                top: 112px;
                z-index: 2;
                @include md {
                    top: 136px;
                }
                @include lg {
                    left: 2vw;
                    top: 200px;
                }
                @include xl {
                    left: 10vw;
                }

                img {
                    width: 240px;
                    @include md {
                        width: 512px;
                    }
                    @include lg {
                        width: 680px;
                    }
                }
            }

            li:nth-child(3) {
                display: none;
                z-index: 3;
                @include lg {
                    display: initial;
                    left: 10vw;
                    top: 600px;
                }
                @include xl {
                    left: 2vw;
                }
            }

            li:nth-child(4) {
                right: 8vw;
                top: -24px;
                z-index: 4;
                @include md {
                    top: -32px;
                }
            }
        }
    }

    article {
        align-items: center;
        display: flex;
        display: grid;
        grid-template-areas: ". div .";
        grid-template-columns: auto 88% auto;
        height: 50vh;
        justify-content: center;
        position: absolute;
        width: 100%;
        z-index: 500;
        @include md {
            grid-template-columns: auto 64% auto;
            height: 576px;
        }
        @include lg {
            grid-template-columns: auto 50% auto;
            height: 120vh;
        }

        div {
            background-color: $off-white;
            border-radius: 8px;
            box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .01), 0 3px 12px 0 rgba(0, 0, 0, .01), 0 6px 7px 0 rgba(0, 0, 0, .01);
            grid-area: div;
            padding: 16px;
            @supports (backdrop-filter: blur(3px)) {
                backdrop-filter: blur(3px);
            }
            @include md {
                padding: 24px;
            }
            @include lg {
                border-radius: 32px;
                padding: 32px;
            }

            h2 {
                color: $dark-cocolate;
            }
        }
    }
}
