/* =============
    Quote1
============= */
#section-2{
    // position: relative;
    height: 50vh;

    @include md{
        height: 576px;
    }
    @include lg{
        height: 120vh;
    }

    aside{
        width: 100%;

        ul{
            position: relative;

            li{
                position: absolute;
                z-index: 0;

                img{
                    width: 200px;
                    z-index: 0;
                    // background-position: center;
                    // background-repeat: no-repeat;
                    // background-size: cover;

                    @include md{
                        width: 448px;
                    }
                    @include lg{
                        width: 400px;
                    }
                }
            }
            li:nth-child(1){
                top: 280px;
                right: 16vw;
                z-index: 1;
                @include sm{
                    top: 304px;
                }
                @include md{
                    top: 400px;

                    right: 2vw;
                }
                @include lg{
                    top: 940px;
                }
                img{
                    @include lg{
                        width: 480px;
                    }

                    @include xl{
                        width: 576px;
                    }

                }


            }
            li:nth-child(2){
                z-index: 2;

                top: 112px;
                left: -56px;
                @include md{
                    top: 136px;
                }
                @include lg{
                    top: 200px;
                    left: 2vw;
                }
                @include xl{
                    left: 10vw;
                }
                img{
                    width: 240px;
                    @include md{
                        width: 512px;
                    }
                    @include lg{
                        width: 680px;
                    }

                }
            }
            li:nth-child(3){
                z-index: 3;

                display: none;
                @include lg{
                    display: initial;
                    top: 600px;
                    left: 10vw;

                }
                @include xl{
                    left: 2vw;

                }
                img{
                    // width: 240px;
                }

            }
            li:nth-child(4){
                z-index: 4;

                top: -24px;
                right: 8vw;
                @include md{
                    top: -32px;

                }
                img{
                    // width: 240px;
                }

            }
        }
    }
    article{
        width: 100%;
        position: absolute;
        z-index: 500;
        height: 50vh;
        display: flex;
        align-items: center;
        justify-content: center;
        display: grid;
        grid-template-columns: auto 88% auto;
        grid-template-areas: ". div .";
        @include md{
            height: 576px;
            grid-template-columns: auto 64% auto;
        }
        @include lg{
            height: 120vh;
            grid-template-columns: auto 50% auto;

        }


        div{
            grid-area: div;
            border-radius: 8px;
            padding: 16px;
            background-color: $off-white;
            box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .01), 0 3px 12px 0 rgba(0, 0, 0, .01), 0 6px 7px 0 rgba(0, 0, 0, .01);
            @supports (backdrop-filter: blur(3px)){
                backdrop-filter: blur(3px);
            }
            @include md{
                padding: 24px;

            }
            @include lg{
                padding: 32px;
                border-radius: 32px;

                // width: 600px;

            }
            h2{
                color: $dark-cocolate;
            }
        }
    }
}
