/* =============
    Types
============= */
#section-5 {
    padding: 32px 0;
    @include md {
        padding: 48px 0;
    }
    @include lg {
        padding: 64px 0;
    }

    > div {
        article {
            h3 {
                margin-bottom: 32px;
            }

            ul {
                display: grid;
                grid-template-columns: repeat(1,1fr);
                grid-template-areas: "bouldering" "toproping" "leadclimbing" "trad";
                grid-template-rows: repeat(4,288px);
                grid-gap: 16px;
                @include md {
                    grid-template-columns: repeat(2,1fr);
                    grid-template-rows: repeat(2,312px);
                    grid-template-areas: "bouldering toproping" "leadclimbing trad";
                }
                @include lg {
                    grid-template-columns: repeat(2,1fr);
                    grid-template-rows: 240px 320px 400px;
                    grid-template-areas: "bouldering bouldering" "toproping leadclimbing" "trad trad";
                    grid-gap: 32px;

                }

                li {
                    height: 100%;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    border-radius: 8px;
                    transition: 0.25s;
                    @include lg{
                        border-radius: 32px;
                    }


                    > div {
                        // position: absolute;
                        height: 100%;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        // visibility: hidden;

                        p {
                            color: $white;
                            font-weight: 700;
                            font-size: rem-calc(28);
                            line-height: rem-calc(28);
                            text-transform: uppercase;
                            text-align: center;
                            @include lg{
                                font-size: rem-calc(32);
                                line-height: rem-calc(32);
                            }

                        }
                    }
                }
                @include lg {
                    @supports (background-blend-mode: luminosity) {
                        li {
                            background-color: $leather;
                            transition: 0.25s;

                            > div {
                                visibility: hidden;
                                // transition: all 1s ease-in;

                                p{
                                    color: $white;
                                }
                            }
                        }

                        li:hover {
                            background-blend-mode: luminosity;
                            // transition: all 1s ease-in;
                            // filter:none;
                        }

                        li:hover > div {
                            @include lg {
                                visibility: visible;
                            }
                        }
                    }
                }

                li:nth-child(1) {
                    grid-area: bouldering;
                    background-image: url("../img/type/bouldering_grey.jpg");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    @include lg {
                        @supports (background-blend-mode: multiply) {
                            background-image: url("../img/type/bouldering.jpg");
                        }
                    }

                    > div {
                        p {}
                    }
                }

                li:nth-child(2) {
                    grid-area: toproping;
                    background-image: url("../img/type/toprope_grey.jpg");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    @include lg {
                        @supports (background-blend-mode: multiply) {
                            background-image: url("../img/type/toprope.jpg");
                        }
                    }

                    > div {
                        p {}
                    }
                }

                li:nth-child(3) {
                    grid-area: leadclimbing;
                    background-image: url("../img/type/leadclimbing_grey.jpg");
                    background-position: center 30%;
                    background-repeat: no-repeat;
                    background-size: cover;
                    @include lg {
                        @supports (background-blend-mode: multiply) {
                            background-image: url("../img/type/leadclimbing.jpg");
                        }
                    }

                    > div {
                        p {}
                    }
                }

                li:nth-child(4) {
                    grid-area: trad;
                    background-image: url("../img/type/trad_grey.jpg");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    @include lg {
                        @supports (background-blend-mode: multiply) {
                            background-image: url("../img/type/trad.jpg");
                        }
                    }

                    > div {
                        p {}
                    }
                }
            }
        }
    }
}
