/* =============
    Typography
============= */
h1,h2,h3,h4,h5,p{
    padding: 0;
    margin: 0;
}
h1,h2,h3,h4,h5{
    font-family: 'Bitter', serif;
}
p{
    font-family: 'Sen', sans-serif;
    font-size: rem-calc(16);
    font-size: rem-calc(24);
}
