/* =============
    Typography
============= */
h1,h2,h3,h4,h5,p{
    padding: 0;
    margin: 0;
}
h1,h3,h4,h5{
    font-family: 'Bitter', serif;
    font-weight: 700;
}
h2, p{
    font-family: 'Sen', sans-serif;

}
h1{
    font-size: rem-calc(40);
    line-height: rem-calc(40);
    @include md{
        font-size: rem-calc(56);
        line-height: rem-calc(56);
    }
    @include lg{
        font-size: rem-calc(64);
        line-height: rem-calc(64);
    }
}
h2{
    font-size: rem-calc(24);
    line-height: rem-calc(32);
    font-weight: 700;

    @include lg{
        font-size: rem-calc(40);
        line-height: rem-calc(48);
    }
}
h3{
    font-size: rem-calc(24);
    line-height: rem-calc(32);
}
p{
    font-size: rem-calc(16);
    line-height: rem-calc(24);
    font-weight: 400;
    @include lg{
        font-size: rem-calc(18);
        line-height: rem-calc(26);
    }

}
