/* =============
    Nav Background
============= */
#nav-bg {
    background-color: $dark-cocolate;
    height: 50px;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    width: 80vw;
    z-index: 900;

    svg {
        background-color: $blank;

        circle {
            fill: $dark-cocolate;
        }
    }
}
