/* =============
    Navigation
============= */
nav {
    position: fixed;
    right: 24px;
    top: 56px;
    width: 80vw;
    z-index: 950;
    @include md {
        width: 40vw;
    }
    @include lg {
        width: 30vw;
    }

    ul {
        li {
            display: none;
            @include md {}
            @include lg {}

            h6 {
                font-family: "sofia-pro", sans-serif;
                background-color: $blank;
                border: none;
                cursor: pointer;
                font-size: rem-calc(28);
                line-height: rem-calc(0);
                // height: 100%;
                text-align: right;
                letter-spacing: rem-calc(1.5);
                transition: 0.25s;
                width: 100%;
                // margin-bottom: 16px;
                text-decoration: none;
                color: $white;
                @include md {
                    font-size: rem-calc(32);
                }
                @include lg {
                    font-size: rem-calc(40);
                }

                a {
                    text-decoration: none;
                    color: $white;
                    transition: 0.25s;
                    padding: 10px 0;

                }
                a:link, a:visited{
                    color: $white;

                }
                a:hover, a:active{
                    border-bottom: 4px solid $white;
                }
            }

        }

        li:nth-last-child(1) {
            margin-bottom: 0;
        }
    }
}
