/* =============
    Navigation
============= */
nav {
    position: fixed;
    top: 56px;
    width: 100%;
    z-index: 950;

    ul {
        li {
            display: none;

            h6 {
                background-color: $blank;
                border: none;
                color: $white;
                cursor: pointer;
                text-decoration: none;
                transition: 0.25s;
                width: 100%;

                a {
                    color: $white;
                    padding: 10px 0;
                    text-decoration: none;
                    transition: 0.25s;
                }

                a:link,
                a:visited {
                    color: $white;
                }

                a:active,
                a:hover {
                    border-bottom: 4px solid $white;
                }
            }
        }

        li:nth-last-child(1) {
            margin-bottom: 0;
        }
    }
}
